doctype 5
html(lang="en")
<title>Test page</title> 


div.content
	p This is some content to test
	
div#container
	<form name='form' method='get' action='page'>
	<input type="text" name="username" />
	<input type="text" name="password" />
	<button name="submitme" value='login' />
	</form>
